.portfolio_wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio_image {
  border-radius: 20px;
  border: 1px solid rgba(169, 228, 255, 0.95);
}

.portfolio_wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio_wrap .portfolio_links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.portfolio_wrap .portfolio_links a {
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
  border-radius: 15px;
}

.portfolio_wrap .portfolio_links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio_wrap .portfolio_links a + a {
  border-left: 1px solid #37b3ed;
}

.portfolio_wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio_wrap:hover .portfolio_links {
  opacity: 1;
  bottom: 0;
}
